#dbview_db > [name="db"] { margin: 0 0 5px 0; }
#dbview_db .hint { color: red; }
#dbview .share img { margin-right: 5px; }
#dbview_db :not(:first-child) { margin-left: 6px; }
#dbview_labels { display: flex; }
#dbview_labels .label_name {
  font-family: sans-serif;
  font-size: 11px;
}

#plots > *, #nodata {
  margin: 15px 0;
}
#nodata {
  color: red;
}

.plot_legend:hover {
  cursor: pointer;
}

#color_picker {
  position: absolute;
  z-index: 1000;
  padding-left: 5px;
}
#color_picker > input {
  width: 60px;
}

.tt {
  font-family: monospace;
}
